node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
coverage
**/coverage
.bundle
**/.bundle
.git
**/.build
.vscode
apps
services/cf-sync
services/cf-media
services/cf-stream
turbo-cache-key.json
README.md
*.md
.CMD
.env
.tree
**/.DS_Store
**/target
**/miri/target
packages/.templates
